*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
root {
    --color-1: #1A202C;
    --color-2: #5967D8;
    --color-3: #12A394;
    --color-4: #0A0B16;
    --color-5: #4A5569;
}

body{
    background-color: var(--color-1);
}